html, body, #app-root{
    height: 100%;
}

#app-root{
    overflow-y: scroll;
}

body{
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #212121;
}

#router-route{
    padding:15px;
}

.appbar-icon{
    // hack find out why style on property cannot be overridden·
    color: white !important;
}
